.main {
  max-width: 1000px;
  margin: auto;
}

p {
  font-size: 12px;
  text-align: left;

}

h2{
  text-align:center;
  font-size:15px;  
}

h3 {
  font-size: 15px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 30%;
  }
}
 
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
